
.sidebar {
   /* height: 100%; *//* Full-height */
    /* width: 200px;*/ /* Set the width of the sidebar */
    /* position: fixed;*/ /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
   
   
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 20px;*/
}

    /* Style for the active tab */
    .sidebar a.active {
        background-color: #4CAF50; /* green */
        color: white;
    }

    /* Hover effect */
    .sidebar a:hover {
        background-color: #0CAFFF; /* Light grey */
        color: black;
    }
