a.tip {
	text-decoration: none
}

	a.tip:hover {
		cursor: help;
		position: relative
	}

	a.tip span {
		display: none
	}

	a.tip:hover span {
		border: #c0c0c0 1px dotted;
		text-align: center;
		color: wheat;
		padding: 5px 20px 5px 5px;
		display: block;
		z-index: 100;
		background: rgba(234, 24, 24, 0.87);
		left: 0px;
		margin: 10px;
		width: 150px;
		border-radius: 5px;
		position: absolute;
		top: 10px;
		text-decoration: none
	}

.bobmodal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.29);
	z-index: 99999;
}

.bobmodal2 {
	
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.mydiv {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
}

.Message {
	padding: 10px;
	border: 1px solid pink;
	border-radius: 10px;
	position: absolute;
	float: left;
	width: 450px;
	height: 200px;
	margin: auto;
	left: 400px;
	background-color: antiquewhite;
	border: 12px ridge Blue;
	border-radius: 10px;
	color: Red;
	top: 50%;
	left: 50%;
	padding: 15px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #008cba;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
	padding: 8px;
	width: 200px;
	height: 80px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

		.button span:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}

	.button:hover span {
		padding-right: 15px;
	}

		.button:hover span:after {
			opacity: 1;
			right: 0;
		}

#rcorners1 {
	border-radius: 10px;
	background: #c5d3ba;
	padding: 20px;
	width: 1050px;
	height: 50px;
}

.button1 {
	/*background-color: blue;*/
	text-align: center;
	height: 30px;
	width: 100px;
	color: white;
	background: linear-gradient(to bottom,#00c4cc 10%, #3333cc 99%);
	color: black;
	border: 2px solid #108175;
	border-radius: 6px;
	padding-bottom: 15px;
	padding-top: 2px;
}

.button4 {
	background: linear-gradient(to bottom,#00c4cc 10%, #3333cc 99%);
	text-align: center;
	height: 30px;
	width: 150px;
	color: white;
	color: black;
	border: 2px solid #108175;
	border-radius: 6px;
	padding-bottom: 15px;
	padding-top: 2px;
}

.point td {
	background-color: white;
	border-style: solid;
	border: Thin double Black;
	border-top: Thin double Black;
	padding-left: 20px;
	text-align: center;
}




select .lt {
	text-align: left;
}

.point th {
	padding: 0px;
	background-color: lightyellow;
	color: black;
	text-align: center;
	border-style: solid;
	border: thin double black;
	width: 230px;
}

.button1:hover {
	background-color: blue;
	color: red;
}

.button2 {
	background-color: goldenrod;
	height: 30px;
	text-align: center;
	width: 70px;
	color: black;
	border: 2px solid #108175;
	border-radius: 6px;
	padding-bottom: 15px;
	padding-top: 2px;
}

.button3 {
	background-color: goldenrod;
	height: 30px;
	text-align: center;
	width: 180px;
	color: black;
	border: 2px solid #108175;
	border-radius: 6px;
	padding-bottom: 15px;
	padding-top: 2px;
}

.button2:hover {
	background-color: #108175;
	color: white;
}

body {
	font-family: 'Lato', sans-serif;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.7);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 60%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 5.3s;
}

	.overlay a:hover, .overlay a:focus {
		color: #f1f1f1;
	}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.beta {
	padding: 1px;
}

	.beta td {
		background-color: white;
		border-style: solid;
		border: Thin double Black;
		border-top: Thin double Black;
		padding-left: 5px;
		vertical-align: top;
		width: 5px;
	}

	.beta th {
		padding: 1px;
		background-color: rgba(0, 140, 186, 0.05);
		font-weight: 600;
		color: black;
		text-align: center;
		border-style: solid;
		border: thin double black;
	}



	.beta tr:hover {
		background-color: #ffff99;
	}



.Detail {
	padding: 1px;
}

	.Detail td {
		color: black;
		font-size: 20px;
		border-style: solid;
		border: Thin double Black;
		border-top: Thin double Black;
		padding-left: 5px;
		vertical-align: top;
	}

	.Detail th {
		font-size: 18px;
		padding: 1px;
		background-color: rgba(0, 140, 186, 0.05);
		font-weight: 600;
		color: black;
		text-align: center;
		border-style: solid;
		border: thin double black;
	}



	.Detail tr:hover {
		background-color: rgba(241, 241, 241, 0.64);
	}

.qdar {
	padding: 1px;
}

	.qdar td {
		background-color: white;
		border-style: solid;
		border: Thin double black;
		border-top: Thin double black;
		padding-left: 5px;
		vertical-align: top;
	}

	.qdar th {
		padding: 2px;
		color: black;
		text-align: center;
		border-style: solid;
		border: thin double black;
	}



